.clients {
    .entry-content {
        ul,
        p {
            margin-bottom: $m-size;
        }

        li {
            color: $gray;

            &::before {
                content: "\f00c";
                color: $light-blue;
                font-family: FontAwesome;
                margin-right: $m-size;
            }
        }

        @include breakpoint($bp-desktop) {
            background: url('./img/nurse.png') no-repeat 0% 100%;
            padding: $l-size 0;
    
            ul,
            p {
                padding-left: 46rem;
            }
        }
    }
}

.offers {
    @extend .section;
}

.offer {
    margin-bottom: $l-size;

    @include breakpoint($bp-tablet) {
        margin-bottom: $xl-size;
        min-height: 30rem;
    }

    li {
        color: $gray;

        &::before {
            font-family: FontAwesome;
            content: "\f068";
            color: $main-color;
            margin-right: $s-size;
        }
    }
}

.offer__thumb {
    margin-bottom: $l-size;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: $main-color;
    }

    &::before {
        bottom: -10px;
    }

    &::after {
        bottom: -16px;
    }
}

.offer__title {
    margin-bottom: $m-size;

    @include breakpoint($bp-tablet) {
        margin-bottom: $l-size;
    }
}