.clients {
    .entry-content {
        ul,
        p {
            margin-bottom: $m-size;
        }

        li {
            color: $gray;

            &::before {
                content: "\f00c";
                color: $light-blue;
                font-family: FontAwesome;
                margin-right: $m-size;
            }
        }

        @include breakpoint($bp-desktop) {
            background: url('./img/nurse.png') no-repeat 0% 100%;
            padding: $l-size 0;
    
            ul,
            p {
                padding-left: 46rem;
            }
        }
    }
}