.topbar {
    display: none;
    @include breakpoint($bp-tablet) {
        display: block;
        background: $dark-blue;
        padding: .5rem 0;
        p {
            color: $light-blue;
            font-size: 1.4rem;
        }

        .contact {
            margin-top: .5rem;
        }

        .hotline {
            float: left;
            margin-right: 1rem;
        }

        .social {
            text-align: right;
        }

        .zoom-social_icons-list__item {
            margin: 0 !important;
            margin-left: .4rem;
        }

        .zoom-social_icons-list-span {
            font-size: 1.4rem !important;
        }
    }
}

.site-header {
    background: white;
    border-bottom: 1px solid rgba(black, .1);

    &--stuck {
        box-shadow: 1px 0 2px 3px rgba($dark-gray, .5);
        position: fixed;
        top: 0;
        z-index: 10;
    }
}

.header-wrap {
    @extend .content-wrap;
    padding-bottom: $s-size;
    padding-top: $s-size;
}

.site-branding {
    img {
        display: block;
        max-width: 200px;
        height: auto;
    }
}

.menu__icon {
    position: absolute;
    top: $m-size;
    right: $m-size;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding-top: .5rem;
    
    div{
        width: 100%;
        height: 5px;
        margin-bottom: 7px;
        background: $main-color;
        &:last-child{
            margin-bottom: 0;
        }
    }
    @include breakpoint($bp-tablet) {
        top: 5.6rem;
    }
    @include breakpoint($bp-desktop) {
        display: none;
    }

    &--stuck {
        top: $m-size;
    }
}